.card:hover {
	box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}
.card-body {
	padding: 3rem 0 !important;
}
.card-text {
	font-size: 0.9rem !important;
	padding: 0.4rem 1.9rem !important;
}

.new-overflow {
	overflow: hidden;
}

.custom-overflow {
	transform: scale(1) !important;
	transition: transform 0.7s ease;
}
.custom-overflow:hover {
	transform: scale(1.7) !important;
}
.row {
	display: grid !important;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)) !important;
	grid-gap: 3rem !important;
}
.center-image {
	display: flex;
	justify-content: center;
}
.favourite-container {
	min-height: 100vh;
}


.modal-title{
	margin: 0 auto;
}

.detailsParagraph {
	margin: 2.5vw;
	margin-bottom: 5vh;
	font-size: 1.3rem;
}

.centerLink{
	/* position: relative; */
	
	font-size: 2rem;
	display: block; 
	text-align: center;
}

.listStyling{
	list-style-type: square !important;
	padding-left: 5rem;
	margin-top: -1.2rem;
	background-color: '#ffffff';
	margin-left: 3vw;
	font-size: 1.2rem;
}

.whereToBuy{
	text-align: center;
	margin-top: -5vh;
}
a:visited {
	color: purple;
  }
