.wrapper{

   /* display: inline-block; */
   /* border: 1px solid red; */
   overflow-x: scroll;
   display: inline;
   width: 100%;
    /* white-space: nowrap; */
  
}

.ingredientItem{
    
    display: inline-table;
    width: 10vw;
    white-space: nowrap;
    font-size: 1.2em;
    text-align: center;
    padding: 1vw;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
    height: 1vh;
    margin-bottom: 1em;

        
}

