.wrapper {
  
  overflow-x: scroll;
  display: inline;
  width: 100%;
 
}

.ingredientItem {
  display: inline-table;
  width: 10vw;
  white-space: nowrap;
  font-size: 1.2em;
  text-align: center;
  padding: 1vw;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  height: 1vh;
  margin-bottom: 1em;
  border-radius: 12px;
}

.ingredientItem:hover {
  background-color: rgba(255, 0, 0, 0.63);
  color: white !important;
}

.backgroundSelected {
  background-color: aquamarine;
}

.selected {
  background-color: red;
  color: white;
  margin-right: 2%;
  cursor:pointer;
}

.notSelected {
  background-color: white;
  margin-right: 2%;
  cursor:pointer;
}

.ingredients_h3 {
  margin-top: 8% !important;
}

.selected_container {
  padding: 1rem;
  padding-left: 3rem;
}

.ingredient_selected {
  display: inline-table;
  width: 10vw;
  white-space: nowrap;
  font-size: 1.2em;
  text-align: center;
  padding: 1vw;
  -webkit-box-shadow: 3px 3px 5px 1px #ccc;
  height: 1vh;
  margin-bottom: 1em;
  border-radius: 10px;
  background-color: rgb(255, 143, 143);
  color: black;
}



/* ------------ DESKTOP MEDIA QUERIES SWIPER BOXES ----------- */
@media screen and (min-width: 1024px) {
  .ingredients_h3 {
    margin-top: 5% !important;
  }

  .ingredient_selected {
    display: inline-table;
    width: 10vw;
    white-space: nowrap;
    font-size: 1.2em;
    text-align: center;
    padding: 1vw;
    -webkit-box-shadow: 3px 3px 4px 5px #ccc;
    height: 1rem;
    margin-bottom: 1em;
    border-radius: 50px;
    background-color: rgb(235, 25, 25);
    color: white;
  }
}

/* ------------ TABLET MEDIA QUERIES SWIPER BOXES ----------- */
@media screen and (min-width: 768px) {
  .ingredient_selected {
    display: inline-table;
    width: 10vw;
    white-space: nowrap;
    font-size: 1.2em;
    text-align: center;
    padding: 1vw;
    -webkit-box-shadow: 3px 3px 4px 5px #ccc;
    height: 1rem;
    margin-bottom: 1em;
    border-radius: 50px;
    background-color: rgb(235, 25, 25);
    color: white;
  }
}

.a {
  background-color: blueviolet !important;
}


/* Small screens */

@media screen and (max-width:480px){
  .parent_list{
    column-count: 3 !important;
    padding-right: 2rem;
  }

  .notSelected {
    background-color: aliceblue;
    -webkit-box-shadow: none;
   
  }
  .mainIngredientTitle{
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: -4rem;
  }
  

}
