.total-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background: url('../../images/backgroundHome.png')
	no-repeat center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
}

.img-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 5%;
	padding-top: 0%;
	
}
#fridge-img {
	width: 100%;
	height: 100%;
}

li {
	display: flex;
	padding-right: 3%;
	align-items: center;
}

#first-swiper {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

button.btn {
	color: white;
}

.search-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1rem;
}
h1 {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}
.search-input {
	display: flex;
	justify-content: center;
	width: 80%;
	margin-bottom: 2rem;
	margin-top: 1rem;
	border-radius: 10px;
	padding: 0.4rem;
	background-color: rgb(254, 238, 237);
	font-size: 0.7rem;
}

.checkbox-checkmark-box {
	display: flex;
}

h3 {
	display: flex;
	justify-content: center;
}

.home-button-text-color {
	text-decoration: none;
	color: white !important;
}

.home-button-text-color:hover {
	color: rgb(241, 146, 146) !important;
}

.home-button-container {
	margin-bottom: 3rem;
}

#desktop-img {
	padding-top: 5%;
	width: 60%;
}

.accordion-button {
	background-color: #feeeed !important;
}

/* ----------- FROM HERE IS SWIPER CSS ------------- */
.swiper-button-prev {
	color: red !important;
}

.swiper-button-next {
	color: red !important;
}
.swiper-items {
	width: 70% !important;
}

.navigation {
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 30%;
	z-index: 10;
}

.swiper {
	width: 80%;
}

.swiper-test {
	width: 90%;
	height: 150px;
}

.swiper-search {
	width: 90%;
	height: 120px;
}

.swiper-button-prev {
	position: absolute;
	top: 60% !important;
	width: calc(var(--swiper-navigation-size) / 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: 0px !important;
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-button-next {
	position: absolute;
	top: 60% !important;
	width: calc(var(--swiper-navigation-size) / 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: 0px !important;
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*  BUTTON styles from here */

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

.center-buttons-middle {
	position: relative;
	display: flex;
	height: 80%;
	align-items: center;
	justify-content: center;
}

a.btn {
	text-decoration: none;
	color: #fff;
	position: relative;
	background: rgb(226, 3, 3);
	border-radius: 15px;
	margin: 0;
	letter-spacing: 1px;
	overflow: hidden;
	transition: 0.3s all ease-in-out;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

#button-text-color {
	color: white !important;
	text-decoration: none;
}

a.btn .wave {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 50%;
	background: rgb(236, 45, 45);
	width: 520px;
	height: 532px;
	margin-left: -250px;
	margin-top: -475px;
	transform-origin: 50% 49%;
	border-radius: 43%;
	box-shadow: 0 16px 24px 2px rgba(58, 53, 53, 0.14),
		0 6px 30px 5px rgba(58, 53, 53, 0.14),
		0 8px 10px -5px rgba(58, 53, 53, 0.14);
	animation: drift 8000ms infinite linear;
}

a.btn.rumble {
	animation: rumbleinthejungle 300ms linear;
}

a.btn .text {
	position: relative;
	z-index: 2;
}

a.btn:hover {
	box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1),
		0 6px 10px 5px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(0, 0, 0, 0.3);
}

.alert {
	position: absolute;
	top: -50px;
	letter-spacing: 1px;
	color: #455a64;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}

.alert.show {
	opacity: 1;
	top: 40px;
}

@keyframes drift {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

@keyframes rumbleinthejungle {
	0% {
		transform: translatex(0);
	}
	25% {
		transform: translatex(-5px);
	}
	50% {
		transform: translatex(0);
	}
	75% {
		transform: translatex(5px);
	}
	100% {
		transform: translatex(0);
	}
}

/* ------ FROM HERE IS SEARCH INGREDIENTS BUTTON ----- */

a.btn-search {
	text-decoration: none;
	color: #fff;
	position: relative;
	background: rgb(226, 3, 3);
	border-radius: 15px;
	padding: 8px 25px;
	margin: 0;
	letter-spacing: 1px;
	overflow: hidden;
	transition: 0.3s all ease-in-out;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn-search {
	cursor:pointer;
	text-decoration: none;
	color: #fff;
	position: relative;
	background: rgb(226, 3, 3);
	border-radius: 15px;
	padding: 8px 25px;
	margin: 0;
	letter-spacing: 1px;
	overflow: hidden;
	transition: 0.3s all ease-in-out;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}





a.btn-search .wave {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 50%;
	background: rgb(236, 45, 45);
	width: 500px;
	height: 500px;
	margin-left: -250px;
	margin-top: -475px;
	transform-origin: 50% 49%;
	border-radius: 43%;
	box-shadow: 0 16px 24px 2px rgba(58, 53, 53, 0.14),
		0 6px 30px 5px rgba(58, 53, 53, 0.14),
		0 8px 10px -5px rgba(58, 53, 53, 0.14);
	animation: drift 8000ms infinite linear;
}

a.btn-search.rumble {
	animation: rumbleinthejungle 300ms linear;
}

a.btn-search .text {
	position: relative;
	z-index: 2;
}

a.btn-search:hover {
	box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1),
		0 6px 10px 5px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(0, 0, 0, 0.3);
}

/*////// ----------- FROM HERE IS MEDIA QUERIES -----------///// */

/* ----------- TABLET VERSION FROM HERE -------------- */
@media screen and (min-width: 768px) {
	.total-container {
	
		background: url('../../images/backgroundHome.png')	no-repeat;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.img-container {
		display: flex;
		flex-direction: row;
		justify-content: center;

		padding-top: 0%;
		width: 100%;
		height: 100%;
	}

	.home-button-container {
		margin-bottom: 10rem;
	}

	a.btn {
		text-decoration: none;
		color: #fff;
		position: relative;
		background: rgb(226, 3, 3);
		border-radius: 15px;
		padding: 20px 30px;
		margin: 0;
		letter-spacing: 1px;
		overflow: hidden;
		transition: 0.3s all ease-in-out;
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
			0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
	}

	.search-input {
		width: 60%;
		padding: 0.8rem;
		
	}
	.accordion-item {
		margin-left: 10%;
		margin-right: 10%;
	}
	.accordion-button {
		border-radius: 12px !important;
	}
	.swiper {
		width: 90%;
	}

	.swiper-test {
		width: 80%;
		height: 100px;
	}
	#desktop-img {
		width: 50%;
		padding-top: 4%;
	}
	#fridge-img {
		width: 60%;
		height: 50%;
		margin-top: 5%;
	}
}
/*------------ DESKTOP VERSION FROM HERE ---------*/
@media screen and (min-width: 1024px) {
	.total-container {
		
		background: url('../../images/backgroundHome.png') no-repeat;
		background-repeat: no-repeat;
		object-fit: cover;
		background-position: center; 
		
	}

	#fridge-img {
		width: 100vh;
	}

	#desktop-img {
		padding-top: 3%;
		width: 28%;
		height: 28%;
	}

	.search-input {
		display: flex;
		justify-content: center;
		width: 35%;
		margin-bottom: 1.5rem;
		margin-top: 1rem;
		border-radius: 15px;
		padding: 0.8rem;
		font-size: 1rem;
	}

	.accordion-item {
		margin-left: 26%;
		margin-right: 26%;
	}
	.accordion-body {
		padding-left: 50px !important;
		
	}

	.search-ul {
		margin-top: 0;
		margin-bottom: 1rem;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}

	.swiper-button-next {
		left: auto;
	}
	.swiper-button-prev {
		left: 0 !important;
		right: auto;
	}
	.swiper {
		width: 80%;
	}

	.swiper-test {
		width: 80%;
		height: auto;
	}

	.swiper-slide {
		width: 20px;
		margin-left: 50px;
		margin-right: 1px;
	}

	.swiper-search {
		width: 90%;
		height: auto;
	}

	.swiper-button-next {
		position: absolute;
		top: 30% !important;
		width: calc(var(--swiper-navigation-size) / 44 * 27);
		height: var(--swiper-navigation-size);
		margin-top: calc(0px - var(--swiper-navigation-size) / 2);
		z-index: 10;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--swiper-navigation-color, var(--swiper-theme-color));
	}

	.swiper-button-prev {
		position: absolute;
		top: 30% !important;
		width: calc(var(--swiper-navigation-size) / 44 * 27);
		height: var(--swiper-navigation-size);
		margin-top: calc(0px - var(--swiper-navigation-size) / 2);
		z-index: 10;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--swiper-navigation-color, var(--swiper-theme-color));
	}
}
