.totalContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url("https://trello.com/1/cards/617a98dfc2dddb4c0a5d8a02/attachments/617ab7cc7cdd5f40fa493659/download/teste_opacity.png")
    no-repeat center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5%;
  padding-top: 0%;
  /* width: 100%;
  height: 100%; */
}
#fridgeImg {
  width: 150%;
  height: 100%;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
button.btn {
  color: white;
}

.searchDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
h1 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.searchInput {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.checkbox-checkmark-box {
  display: flex;
}

h3 {
  display: flex;
  justify-content: center;
}

.HomeButtonTextColor {
  text-decoration: none;
  color: white;
}

.HomeButtonTextColor:hover {
  color: rgb(241, 146, 146);
}

.homeButtonContainer {
  margin-bottom: 3rem;
}

/*  BUTTON styles from here */

@import url("https://fonts.googleapis.com/css?family=Droid+Sans:400,700");

.centerButtonsMiddle {
  position: relative;
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}

a.btn {
  text-decoration: none;
  color: #fff;
  position: relative;
  background: rgb(226, 3, 3);
  border-radius: 15px;
  padding: 30px 50px;
  margin: 0;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

#buttonTextColor {
  color: white;
  text-decoration: none;
}

a.btn .wave {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 50%;
  background: rgb(236, 45, 45);
  width: 520px;
  height: 532px;
  margin-left: -250px;
  margin-top: -475px;
  transform-origin: 50% 49%;
  border-radius: 43%;
  box-shadow: 0 16px 24px 2px rgba(58, 53, 53, 0.14),
    0 6px 30px 5px rgba(58, 53, 53, 0.14),
    0 8px 10px -5px rgba(58, 53, 53, 0.14);
  animation: drift 8000ms infinite linear;
}

a.btn.rumble {
  animation: rumbleinthejungle 300ms linear;
}

a.btn .text {
  position: relative;
  z-index: 2;
}

a.btn:hover {
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1),
    0 6px 10px 5px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(0, 0, 0, 0.3);
}

.alert {
  position: absolute;
  top: -50px;
  letter-spacing: 1px;
  color: #455a64;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.alert.show {
  opacity: 1;
  top: 40px;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes rumbleinthejungle {
  0% {
    transform: translatex(0);
  }
  25% {
    transform: translatex(-5px);
  }
  50% {
    transform: translatex(0);
  }
  75% {
    transform: translatex(5px);
  }
  100% {
    transform: translatex(0);
  }
}

/* ------ FROM HERE IS SEARCH INGREDIENTS BUTTON ----- */

a.btn-Search {
  text-decoration: none;
  color: #fff;
  position: relative;
  background: rgb(226, 3, 3);
  border-radius: 15px;
  padding: 8px 25px;
  margin: 0;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

a.btn-Search .wave {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 50%;
  background: rgb(236, 45, 45);
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -475px;
  transform-origin: 50% 49%;
  border-radius: 43%;
  box-shadow: 0 16px 24px 2px rgba(58, 53, 53, 0.14),
    0 6px 30px 5px rgba(58, 53, 53, 0.14),
    0 8px 10px -5px rgba(58, 53, 53, 0.14);
  animation: drift 8000ms infinite linear;
}

a.btn-Search.rumble {
  animation: rumbleinthejungle 300ms linear;
}

a.btn-Search .text {
  position: relative;
  z-index: 2;
}

a.btn-Search:hover {
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1),
    0 6px 10px 5px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(0, 0, 0, 0.3);
}

/* ----------- FROM HERE IS MEDIA QUERIES ----------- */

@media screen and (min-width: 768px) {
  .totalContainer {
    background: url("https://trello.com/1/cards/617a98dfc2dddb4c0a5d8a02/attachments/618d263f0b264183c0614785/download/teste_opacity2.png")
      no-repeat;
    background-size: cover;

    background-repeat: no-repeat;
  }

  .imgContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-top: 0%;
    width: 100%;
    height: 100%;
  }

  .homeButtonContainer {
    margin-bottom: 10rem;
  }

  a.btn {
    text-decoration: none;
    color: #fff;
    position: relative;
    background: rgb(226, 3, 3);
    border-radius: 15px;
    padding: 20px 30px;
    margin: 0;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: 1024px) {
  .totalContainer {
    background: url("https://trello.com/1/cards/617a98dfc2dddb4c0a5d8a02/attachments/618d263f0b264183c0614785/download/teste_opacity2.png")
      no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #fridgeImg {
    width: 80%;
    height: 100%;
    margin-top: 5%;
  }
}
