/*  BUTTON from here */

@import url("https://fonts.googleapis.com/css?family=Droid+Sans:400,700");

.button1 {
  color: white;
  text-decoration: none;
}

.middle {
  position: relative;
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}

a.btnNav {
  text-decoration: none;
  color: #fff;
  position: relative;
  background: rgb(226, 3, 3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 8px 20px;
  margin: 0;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  width: 100%;
}

a.btnNav .wave2 {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 50%;
  background: rgb(236, 45, 45);
  width: 600px;
  height: 490px;
  margin-left: -250px;
  margin-top: -450px;
  transform-origin: 50% 49%;
  border-radius: 43%;
  box-shadow: 0 16px 24px 2px rgba(58, 53, 53, 0.14),
    0 6px 30px 5px rgba(58, 53, 53, 0.14),
    0 8px 10px -5px rgba(58, 53, 53, 0.14);
  animation: drift 8000ms infinite linear;
}

a.btnNav.rumble {
  animation: rumbleinthejungle 300ms linear;
}

a.btnNav .text {
  position: relative;
  z-index: 2;
}

a.btnNav:hover {
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1),
    0 6px 10px 5px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(0, 0, 0, 0.3);
}

.alert {
  position: absolute;
  top: -50px;
  letter-spacing: 1px;
  color: #455a64;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.alert.show {
  opacity: 1;
  top: 40px;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes rumbleinthejungle {
  0% {
    transform: translatex(0);
  }
  25% {
    transform: translatex(-5px);
  }
  50% {
    transform: translatex(0);
  }
  75% {
    transform: translatex(5px);
  }
  100% {
    transform: translatex(0);
  }
}

/*--------- logo css from here ----------- */

/* ---------- FROM HERE IS MEDIA QUERIES ----------- */

@media screen and (min-width: 768px) {
  a.btnNav .wave2 {
    display: none;
  }
}
