/*  BUTTON from here */

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');


.color-nav{
	background-color: rgb(226, 3, 3);
}


a.btn-nav.rumble {
	animation: rumbleinthejungle 300ms linear;
}

a.btn-nav .text {
	position: relative;
	z-index: 2;
}

a.btn-nav:hover {
	box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1),
		0 6px 10px 5px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(0, 0, 0, 0.3);
}

.alert {
	position: absolute;
	top: -50px;
	letter-spacing: 1px;
	color: #455a64;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}

.alert.show {
	opacity: 1;
	top: 40px;
}

@keyframes drift {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

@keyframes rumbleinthejungle {
	0% {
		transform: translatex(0);
	}
	25% {
		transform: translatex(-5px);
	}
	50% {
		transform: translatex(0);
	}
	75% {
		transform: translatex(5px);
	}
	100% {
		transform: translatex(0);
	}
}

/*--------- NAV BAR CSS HERE ----------- */
.nav-link {
	margin-inline: 30px !important;
}

/* ---------- FROM HERE IS MEDIA QUERIES ----------- */

@media screen and (min-width: 768px) {
	a.btn-nav .wave2 {
		display: none;
	}
}
