.div1 {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url("https://trello.com/1/cards/617a98dfc2dddb4c0a5d8a02/attachments/617ab7cc7cdd5f40fa493659/download/teste_opacity.png")
    no-repeat center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.div2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5%;
  padding-top: 0%;
}

.div3 {
}

/*  BUTTON from here */

@import url("https://fonts.googleapis.com/css?family=Droid+Sans:400,700");
html {
  position: relative;
  height: 100%;
}

.button1 {
  color: white;
  text-decoration: none;
}

.middle {
  position: relative;
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}

a.btn {
  text-decoration: none;
  color: #fff;
  position: relative;
  background: red;
  border-radius: 15px;
  padding: 8px 20px;
  margin: 0;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

a.btn .wave {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 50%;
  background: red;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -480px;
  transform-origin: 50% 49%;
  border-radius: 43%;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  animation: drift 8000ms infinite linear;
}

a.btn.rumble {
  animation: rumbleinthejungle 300ms linear;
}

a.btn .text {
  position: relative;
  z-index: 2;
}

a.btn:hover {
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1),
    0 6px 10px 5px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(0, 0, 0, 0.3);
}

.alert {
  position: absolute;
  top: -50px;
  letter-spacing: 1px;
  color: #455a64;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.alert.show {
  opacity: 1;
  top: 40px;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes rumbleinthejungle {
  0% {
    transform: translatex(0);
  }
  25% {
    transform: translatex(-5px);
  }
  50% {
    transform: translatex(0);
  }
  75% {
    transform: translatex(5px);
  }
  100% {
    transform: translatex(0);
  }
}
